body {
    font-family: 'Roboto Slab', serif;
}

#signupButton, #shoppingcartButton {
    background-color: dodgerblue;
}

#jhp {
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
}

.navbar-menu {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

.navbar-item img {
    max-height: 4rem;
}

.carousel .carousel-container .carousel-item .title {
    font-size: 1.25rem;
}